<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419220295904-sm3ve17fq9277vm5bn1jgoq1fgrocbb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419220295904-sm3ve17fq9277vm5bn1jgoq1fgrocbb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCKgvipIgyzO0vd26CkIIS8-L36E6AKJEY</string>
	<key>GCM_SENDER_ID</key>
	<string>419220295904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseTest3</string>
	<key>PROJECT_ID</key>
	<string>kamal-abu-qamar-gsg-test</string>
	<key>STORAGE_BUCKET</key>
	<string>kamal-abu-qamar-gsg-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419220295904:ios:46953639ee32bfab054085</string>
</dict>
</plist>